<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Unirse al Juego</title>
</head>
<body>
<h2>Ingrese su nombre para unirse al juego</h2>
<form action="/player/join" method="post">
     <div class="mb-3">
    <label for="name" class="form-label">Student's name</label>
     <input type="text" name="playerName" required class="form-control" id="name" aria-describedby="nameHelp">
    <button type="submit" class="btn btn-success">Join</button>
    
    </div>
</form>
</body>
</html>
